/* style.css */

table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin: 0;
  padding: 0;
  background-color: #ff0000;
  color: #ffffff;
}

th, td {
  padding: 0.5em 1em;
  border: 1px solid #ddd;
}

th {
  text-align: left;
}

td {
  text-align: right;
}

@media (max-width: 768px) {
  table {
    width: 100%;
  }

  th, td {
    width: 50%;
  }
}

/* إضافات خاصة بالهواتف الذكية */

/* style.css */

@media (max-width: 768px) {
  table {
    width: 100%;
  }

  th, td {
    width: 50%;
  }
}

